* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}

/*index.html*/
#userstories {
  margin-left: 5%; 
  margin-top: 5%;
}

#testui {
  margin-left: 5%
}

hr#first-hr {
  margin: 50px;
}

hr#last-hr {
  margin: 50px;
  margin-top: 200px;
}

#testui h2 {
  text-align: left;
}

/*board.html*/
#board-hr {
  margin: 50px; 
  margin-top: 200px;
}

.reported-thread {
    border: 2px solid red;
    background-color: rgba(26, 126, 213, 0.5);
}

.labeled {
  color: red;
  font-weight: bold;
}

/*thread.html*/
#thread-hr {
  margin: 50px; 
  margin-top: 200px;
}